* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%; /* 1rem is nu 10px */
}

body {
    background-image: linear-gradient(to right, #111, #010101);
    font-family: Verdana, sans-serif;
    font-size: 1.4rem;
    color: #fff;
    letter-spacing: 1.2px;
}

.container {
    width: 80%;
    max-width: 80rem;
    margin: 2rem auto;
}

header {
    margin-bottom: 2.5rem;
}

header h1 {
    background-image: linear-gradient(to right, #f00, #600);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    text-align: center;
    font-size: 10rem;
    font-style: italic;
    letter-spacing: 5px;
}

#search {
    margin-bottom: 3.5rem;
}

#search-form {
    display: flex;
    justify-content: center;
}

#search-form input[type=text] {
    background-image: linear-gradient(to bottom, #fff, #ccc);
    border: none;
    outline: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    width: 30rem;
    padding: 1rem 1.25rem;
    font-family: Verdana, sans-serif;
    letter-spacing: 1.2px;
    font-size: 1.5rem;
}

#search-form button {
    background-image: linear-gradient(to bottom, #f00, #900);
    border: none;
    outline: none;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 1rem 1.25rem;
    cursor: pointer;
    font-family: Verdana, sans-serif;
    letter-spacing: 1.2px;
    font-weight: bold;
    color: #fff;
    font-size: 1.5rem;
    transition: .3s font-size;
}

#search-form button:hover,
#search-form button:active,
#search-form button:focus {
    background-image: linear-gradient(to top, #f00, #900);    
}

#search-form button:active,
#search-form button:focus {
    font-size: 1.2rem;
}

#filters-form {
    margin-bottom: 3.5rem;
    display: grid;
    grid-template-columns: repeat(3, max-content);
    grid-template-rows: 2;
    grid-column-gap: 2rem;
    grid-row-gap: .75rem;
    justify-content: center;
}

#filters-form label {
    display: flex;
    align-items: center;
}

#filters-form label input[type=radio] {
    margin-right: .5rem;
}

#videos {
    list-style-type: none;
    margin-bottom: 4.5rem;

    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-column-gap: 1.5rem;
    grid-row-gap: 2rem;
}

#videos li {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: .35s;
    animation-fill-mode: forwards;
    animation-delay: .2s;
}

#videos li a {
    height: 20rem;
    display: inline-block;
}

#videos li a img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#videos li p {
    margin-top: .5rem;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
    text-align: center;
}

footer {
    text-align: center;
    color: #ccc;
    font-size: 1.2rem;
    letter-spacing: 1.2px;
}

/* Animations */

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

/* Media Queries */

@media screen and (max-width: 800px) {
    #videos {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media screen and (max-width: 750px) {
    header h1 {
        font-size: 9rem;
    }
}

@media screen and (max-width: 700px) {
    #videos {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 650px) {
    .container {
        width: 90%;
    }

    header h1 {
        font-size: 8rem;
    }

    #search-form input[type=text],
    #search-form button {
        font-size: 1.2rem;
        padding: .75rem 1rem;
    }
}

@media screen and (max-width: 600px) {
    header h1 {
        font-size: 7rem;
    }

    #videos {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width: 525px) {
    header h1 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 500px) {
    #search-form input[type=text] {
        width: 20rem;
    }

    #filters-form {
        grid-template-columns: repeat(2, max-content);
        grid-template-rows: 3;
    }
}

@media screen and (max-width: 450px) {
    header h1 {
        font-size: 5rem;
    }

    #search-form input[type=text],
    #search-form button {
        font-size: 1.2rem;
        padding: .25rem .5rem;
    }
}

@media screen and (max-width: 400px) {
    header h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 334px) {
    #videos {
        grid-template-columns: repeat(1, 1fr);
    }
}